@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.btn {
  display: inline-block;
  padding: 16px 20px;
  box-sizing: border-box;
  background-color: #fb565a;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.page-header {
  text-transform: uppercase;
  line-height: 30px;
  background-color: #eeeeee;
}

.page-header-logo:hover {
  opacity: 0.8;
}

.page-header-logo:active {
  opacity: 0.3;
}

.page-navigation ul {
  list-style: none;
}

.site-navigation a {
  color: #000000;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:not([href]) {
  color: #000000;
  padding-bottom: 6px;
  border-bottom: 2px solid #fb565a;
}

.basket-link {
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  padding-left: 32px;
}

.advantages-list {
  list-style: none;
}

.advantages h3 {
  font-weight: 700;
  font-size: 55px;
}

.advantages-item {
  min-height: 430px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.advantages-item-1 {
  background-image: url("../img/slide-1.png");
}

.advantages-item-2 {
  background-image: url("../img/slide-2.png");
}

.advantages-item-3 {
  background-image: url("../img/slide-3.png");
}

.advantages-btn {
  min-width: 240px;
}

.benefits {
  margin-top: 80px;
}

.benefits-list {
  list-style: none;
}

.benefits h3 {
  line-height: 30px;
  font-size: 30px;
}

.benefits-item {
  padding-top: 26px;
  background-position: 50% 0;
  background-size: auto 146px;
  background-repeat: no-repeat;
}

.benefits-item-1 {
  background-image: url("../img/picture-red.jpg");
}

.benefits-item-2 {
  background-image: url("../img/picture-green.jpg");
}

.benefits-item-3 {
  background-image: url("../img/picture-yellow.jpg");
}

.benefits-btn {
  min-width: 160px;

}
.benefits-btn-1 {
  background-color: #fb565a;
}

.benefits-btn-2 {
  background-color: #00ca74;
}

.benefits-btn-3 {
  background-color: #efc84a;
}

.benefits-btn-2:hover,
.benefits-btn-2:focus {
  background-color: #00bc6c;
}

.benefits-btn-2:active {
  background-color: #00aa62;
}

.benefits-btn-3:hover,
.benefits-btn-3:focus {
  background-color: #eab534;
}

.benefits-btn-3:active {
  background-color: #e5a722;
}

.about-us {
  margin-top: 180px;
}

.about-us-title {
  font-size: 45px;
  line-height: 45px;
}

.page-list-item {
  position: relative;
  list-style: none;
  padding-left: 30px;
}

.page-list-item::before {
  content: "";
  position: absolute;
  background-color: #fb565a;
  width: 25px;
  height: 2px;
  left: 0;
  bottom: 10px;
}

.about-us-subtitle {
  text-transform: uppercase;
  font-weight: bold;
}

.statistics {
  min-height: 210px;
  background-image: url("../img/nerds-picture.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.statistics-sense {
  line-height: 18px;
}

.statistics-percentages {
  font-size: 45px;
  line-height: 10px;
}

.partners-list {
  list-style: none;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.contacts-list h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.contacts-list p {
  color: #666666;
}

.contacts-list .contacts-number {
  color: #666666;
}

.address-btn {
  width: 219px;
  margin-left: 40px;
  margin-top: 35px
}

.feedback-form {
  position: relative;
  font-weight: bold;
}

.feedback-groups {
  list-style: none;
}

.popup-close {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 18px;
  height: 18px;
  opacity: 0.3;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 6px;
  height: 21px;
  width: 2px;
  background-color: red;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.form-submit {
  width: 260px;
}

.social-item {
  list-style: none;
}

.social-btn {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn:active::before {
  opacity: 0.3;
}

.social-btn-vk::before {
  background-image: url("../img/vk-icon.svg");
}

.social-btn-fb::before {
  background-image: url("../img/fb-icon.svg");
}

.social-btn-insta::before {
  background-image: url("../img/insta-icon.svg");
}

.social-txt {
  line-height: 36px;
  font-size: 36px;
}

.promo {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.filter {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  width: 260px;
}

.form-group {
  margin: 0 0 28px;
  padding: 0;
  border: none;
}

.form-group-name {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.range {
  position: relative;
  height: 2px;
  width: 218px;
  background-color: #d7dcde;
  border-style: none;
}

.range-wrap {
  padding: 39px 21px 41px;
  background-color: #eeeeee;
}

.range-scale {
  position: absolute;
  height: 2px;
  width: 145px;
  background-color: #00ca74;
  border-style: none;
}

.range-btn {
  border-style: none;
  position: absolute;
  width: 20px;
  height: 23px;
  background-image: url("../img/filter-button.png");
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
}

.range-min {
  top: -10px;
  left: 0;
}

.range-max {
  top: -10px;
  right: 58px;
}

.filter-cost {
  margin-top: 20px;
  color: #283136;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.filter-cost label {
  margin-right: 8px;
}

.filter-cost input {
  font-family: inherit;
  width: 66px;
  padding: 8px 5px;
  text-align: center;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 3px;
}

.filter-group {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
  text-transform: none;
}

.check-label {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding: 3px 0 0 36px;
  font-size: 16px;
  line-height: 20px;
}

.check-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border: 2px solid #000000;
  border-radius: 3px;
  opacity: 0.4;
}

.check:checked + .check-label::before {
  width: 27px;
  background-image: url("../img/check-on.svg");
  border: none;
}

.check-label-radio::before {
  width: 25px;
  height: 25px;
  border-width: 4px;
  border-radius: 50%;
}

.check:checked + .check-label-radio::before {
  width: 25px;
  background-image: none;
  border: 4px solid #000000;
}

.check-label-radio::after {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0.4;
}

.check:checked + .check-label-radio::after {
  content: "";
}

.check-label:hover::before,
.check-label:hover::after,
.check:focus + .check-label::before,
.check:focus + .check-label::after {
  opacity: 1;
}

.check:disabled + .check-label {
  color: rgba(0, 0, 0, 0.3);
}

.check:disabled + .check-label::before,
.check:disabled + .check-label::after {
  opacity: 0.1;
}

.inner-btn {
  background-color: #eeeeee;
  min-width: 260px;
  color: #000000;
}

.inner-btn:hover,
.inner-btn:focus {
  background-color: #dfdfdf;
}

.inner-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorting-title {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting {
  list-style: none;
}

.sorting-item {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
}

.sorting-item:hover,
.sorting-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item:active {
  color: #000000;
}

.sorting a {
  text-decoration: none;
}

.sorting {
  list-style: none;
}

.sorting-item {
  color: #b3b3b3
}

.sorting-dir {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 10px;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #a6a6a6;
}

.sorting-dir-asc {
  border-top: 10px solid;
}

.sorting-dir-desc {
  border-bottom: 10px solid;
}

.sorting a:hover,
.sorting a:focus,
.sorting-highlighted {
  color: #000000;
}

.products {
  list-style: none;
}

.products-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.products-item:hover::before {
  content: "";
  display: block;
  min-width: 360px;
  min-height: 40px;
  margin-top: 20px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
}

.products-title a {
  color: #000000;
}

.products a {
  text-decoration: none;
}

.products-title a:hover,
.products-title a:focus {
  color: #fb565a;
}

.products-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.products-txt {
  color: #666666;
  line-height: 18px;
}

.products-btn {
  min-width: 200px;
  background-color: #fb565a;
}

.products-btn:active {
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination-link {
  min-width: 50px;
  margin: 0 10px 0 0;
}

.pagination-link:not([href]),
.pagination-link:not([href]):hover,
.pagination-link:not([href]):active {
  padding: 14px 16px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #dbdbdb;
  box-shadow: none;
}

.visually-hidden {
  position: fixed;
  right: 200vw;
}
